{% extends "layout.html" %}
{% block content %}

<div class="content-section">
  <UL>
    <LI>Website Owner: Cuong Tran from Holberton School - San Francisco</LI>
    <LI>Email: jacktkc1@gmail.com. 384@holbertonschool.com</LI>
    <LI>School website: holbertonschool.com<LI>
    <p>The website idea come from AirBnB_clone project, one of projects in Holberton School. I added some advanced functions that make it more 'real'. You can register, login, logout, search places, update your account, post new place, update your place, delete your place and review the place from others.</p> 
    <p>This website is for studying purpose only. All information database from this website is not real, please don't use it. Please take responsibility of your data that you upload on this website.<p>
    <p>Of course, very welcome to all comments on this website. Please send me.</p> 
    <p>Thank Holberton School for the amazing time being in the School. Thank to cohort 2, 3, 4, 5 and my peers in cohort 6 helped me during the time.</p>
  </UL>
</div>

{% endblock content %}
