@charset "UTF-8";
/** Holberton Practice Styles
 * ------ Header
 */

header {
	background-color: #FFFFFF;
	background-image: url("../images/logo.png");
	background-repeat: no-repeat;
	background-position: 20px 50%;
	height: 70px;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.available {
	background-color: #ff545f !important;
}

.navbar {
	display: inline-flex;
	margin-left: auto;
	margin-right: auto;
}
